# ignore all
*

# unignore files for repo
!.gitignore
!README.md

# unignore configuration files
!.bashrc
!.gitconfig
!.tmux.conf
!.config/
!.config/nvim/
!.config/nvim/**
!.config/alacritty/
!.config/alacritty/**
!.config/i3/
!.config/i3/**
!.config/custom/
!.config/custom/**
.config/custom/local.sh
!.config/picom/
!.config/picom/**
!.config/assets/
!.config/assets/**
